/* ===============================
   IMPORT CSS
   =============================== */

@import "@{templateCommon}/basekit-bootstrap.less";


/* ===============================
   TEMPLATE CSS
   =============================== */


body {
  background-color: @color-swatch1;
  background-image: image('/images/texture2.png');
  background-repeat: repeat;
  background-position: top center;
  margin: 0;
  padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main h1, .main h2, .main h3, .main h4 {
  font-weight: 600;
}

.bk-footer p {
  background-color: transparent;
}

blockquote {
  background:@color-swatch2;
  -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.3);
  padding: 18px;
  quotes:"\201C""\201D""\2018""\2019";
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,25%);
  margin: 0;
}

  blockquote:before {
  font-family: georgia;
  color:@color-swatch3;
  content:open-quote;
  font-size:4em;
  line-height:.1em;
  margin-right:.1em;
  vertical-align:-.4em;
}
  blockquote p {
  display: inline;
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,25%);
  background-color: transparent;
}


ul, ol, li {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
  background-color: @color-swatch1;
}

ul {
list-style-type: square;
}

.bk-content-text ul, .bk-content-text ol, .bk-content-text li {
  padding-left: 1.4em;
  text-indent: -1.4em;
}



/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 40px 0;
}

/* DEFAULT PAGE TYPE */

.bk-pt-default header {
  border-bottom: 1px solid darken(@color-swatch2,5%);
}

.bk-pt-default .extendednavigation ul li:hover > ul {
  border: 1px solid darken(@color-swatch2,5%);
}


/* ===============================
   HEADER
   =============================== */

.bk-header {
  padding: 0;
  .wrapper {
    padding: 20px 0px 18px;

    // Flex parent
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .widget.extendednavigation {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }
}



/* COMPANY NAME */

// Logo & Company Name
.widget.logo, .widget.companyname {
    display: inline-block;
    vertical-align: middle;
}

/* LOGO */

.widget.logo {
  margin-right: 10px;
}

/* ===============================
   FOOTER
   =============================== */

.bk-footer {
  padding: 4em 0;
  background-color: @color-swatch2;
  min-height: 150px;
}

.bk-footer p {
  font-family: @font-swatch5-font-family;
  color: @color-swatch5;
  padding-bottom: 5px;
}

.bk-footer ul, .bk-footer ol, .bk-footer li {
  background-color: @color-swatch2;
}


/* ===============================
   STANDARD NAVIGATION
   =============================== */

.widget.navigation {
}

.widget.navigation ul {
  padding: 0;
  margin: 20px 0 0;
}

.widget.navigation ul.align-center li
{
  text-align: center;
}

.widget.navigation ul.align-left li
{
  text-align: left;
}

.widget.navigation ul.align-right li
{
  text-align: right;
}

.widget.navigation ul li {
  float: left;
  display: block;
  padding-right: 40px;
}

.widget.navigation ul li a {
  display: block;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.navigation ul li a:hover {
  text-decoration: none;
  color: @font-swatch6-color-hover;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation {
    position: relative;
    @media @tablet {
        width: 100%;
    }
}

.widget.extendednavigation a.pull {
  top: 0;
  @media @tablet {
    top: 0;
  }
}

.widget.extendednavigation ul.open {
    @media @tablet {
        margin-top: 20px;
    }
}

.extendednavigation li.selected {
    a, .text {
        color: @color-swatch3;
    }
}

.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 6px 14px;
  margin-left: 30px;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;

}

.widget.extendednavigation ul li a:hover {
  text-decoration: none;
}

.widget.extendednavigation ul li.folder {
  background-repeat: no-repeat;
  height: 100%;
  cursor: pointer;
}

.widget.extendednavigation li a:hover {
  color: @color-swatch3;
}

.widget.extendednavigation li > ul {
  display: none;
}

.widget.extendednavigation li:hover > ul {
  display: block;
  width: 186px;
  position: absolute;
  background-color: @color-swatch1;
  border: 1px solid @color-swatch2;
  z-index: 500;
  padding: 10px 0;
  margin-left: 1.1em;
  margin-top: 0;
}

.widget.extendednavigation li:hover > ul > li {
  display: block;
  width: 100%;
}

.widget.extendednavigation li:hover > ul li a {
  display: block;
  background-image: none;
  color: @color-swatch5;
  padding: 0 ;
  margin-left: 0;
}

.widget.extendednavigation li:hover > ul > li > a .text {
  margin-left: 0;

}

.widget.extendednavigation li:hover > ul > li > a .text:hover {
  color: @color-swatch3;
}

.widget.extendednavigation li:hover > ul > li > a:hover {
  color: @color-swatch3;
}

.widget.extendednavigation ul li a:hover, .widget.extendednavigation ul li.folder .text:hover {
 color: @color-swatch3;
}

.widget .extendednavigation ul li.folder:after {
    top: 45%;
    right: 1px;
}


/* ===============================
   FEATURE
   =============================== */

.widget.feature .feature-bgimg {
  height: 500px; /* should be in media query*/
 }

.widget.feature .content {
  height: 500px;
  vertical-align: bottom;
  padding-bottom: 1em;
}

/* FEATURE TITLE */

.widget.feature h2 {
  font-family:@font-swatch8-font-family;
  font-size:@font-swatch8-font-size;
  font-weight: @font-swatch8-font-weight;
  line-height:@font-swatch8-line-height;
  color: @font-swatch8-color;
  letter-spacing: @font-swatch8-letter-spacing;
  padding: 0;
}

.widget.feature h2 span {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 6px;
}

/* FEATURE STRAPLINE */

.widget.feature h3 {
  font-family:@font-swatch9-font-family;
  font-size: @font-swatch9-font-size;
  font-weight: @font-swatch9-font-weight;
  line-height:@font-swatch9-line-height;
  color: @font-swatch9-color;
  letter-spacing: @font-swatch9-letter-spacing;
  padding: 0;
}

.widget.feature h3 span {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 6px;
}

/* FEATURE BUTTON */

.widget.feature .feature-btn {
  max-width: 930px;
  display: block;
}

.widget.feature button {
  margin: 10px 0 8px;
  padding: 10px 10px 8px;
  border: 0;
  -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  font-family: @font-swatch7-font-family;
  font-weight:@font-swatch7-font-weight;
  font-size: @font-swatch7-font-size;
  background-color: @font-swatch7-background-color;
  color: @font-swatch7-color;
  line-height: @font-swatch7-line-height;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.feature button:hover
{
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}


/* ===============================
   FEATURE LAYOUTS
   =============================== */

/* LEFT ALIGN */

.widget.feature.align-left .content {
  width: 100%;
  text-align: left;
}

/* CENTER ALIGN */

.widget.feature.align-center .content {
  width: 100%;
  text-align: center;
}

/* RIGHT ALIGN */

.widget.feature.align-right .content {
  width: 100%;
  text-align: right;
}

/* BUTTON TOP RIGHT */

.widget.feature.btn-top-right .content {
  width: 100%;
  text-align: left;
}

.widget.feature.btn-top-right h2{
  vertical-align: middle;
}

.widget.feature.btn-top-right button{
    vertical-align: middle;
}



/* ===============================
   PAYPAL & DROPBOX BUTTON
   =============================== */


.widget.paypalbuynow .widget.button.paypal, .widget.dropbox .b-wrap .btn {
  -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  line-height: @font-swatch7-line-height;
  color: @font-swatch7-color;
  padding: 12px 10px 10px 45px;
  border: none;
}



/* ===============================
   BUTTON CSS
   =============================== */

.widget.button button
{
  padding: 12px 10px 10px;
  border: none;
  -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  line-height: @font-swatch7-line-height;
  color: @font-swatch7-color;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.button button:hover
{
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}

/* ===============================
   CONTENT CSS
   =============================== */


.widget.content
{
    padding: 10px 0 0;
    overflow: hidden;
}

.widget.content span.expand
{
    font-family: @font-swatch3-font-family;
    background-color: @color-swatch3;
    color: @font-swatch7-color;
    font-size: @font-swatch5-font-size;
    padding: 4px 8px;
    margin: 4px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    .more, .less {
        color: @font-swatch7-color;
    }
}

.widget.content span.expand:hover,
.widget.content span.expand:focus
{
    cursor: pointer;
    background-color: darken(@color-swatch3,5%);
}

/* ===============================
   IMAGE WIDGET
   =============================== */

.widget.image img
{
    display:block;
    max-width: 100%;
    border: 0;
    border-width: 0;
}

.widget.image {
}

.widget.image span.image-title {
    display: block;
    margin:10px 0 0;
    font-family: @font-swatch4-font-family;
    font-weight: @font-swatch4-font-weight;
    font-size: @font-swatch4-font-size;
    color:  @font-swatch4-color;
    text-decoration: none;
    line-height: @font-swatch4-line-height;
}

.widget.image a:hover {
  text-decoration: none;
}

.widget.image span.image-title:hover {
  color: @font-swatch6-color-hover;
}

.widget.image span.image-description {
    display: block;
    margin:0 0 10px;
    font-family: @font-swatch5-font-family;
    font-weight: @font-swatch5-font-weight;
    font-size: @font-swatch5-font-size;
    line-height: @font-swatch5-line-height;
    color: @font-swatch5-color;
}

/* ===============================
   GALLERY WIDGET
   =============================== */


.widget.gallery {
    margin: 20px 0 20px -0.5%;
    ul li {
        @media @tablet {
            width: 50%;
            padding-bottom: 50%;
        }
        @media @mobile {
            width: 100%;
            padding-bottom: 100%;
        }
        span.inner {
            .title,
            .description {
                // Font
                color: @color-swatch1;
                font-family: @font-swatch4-font-family;
                letter-spacing: @font-swatch4-letter-spacing;
                text-align: left;
            }
            .title {
                font-size: 19px;
                font-weight: 600;
                line-height: 26px;
            }
            .description {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    // Image Data
    .image-data {
        display: block;
        opacity: 0;
        background-color: @color-swatch3;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        &:hover {
            opacity: 1;
        }
    }
}

/* Lightbox */

.lb-data .lb-caption, .lb-data .lb-number {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,50%);
}

.lb-data .lb-number {
  font-size:bkscale(@font-swatch5-font-size,0.9);
}

/* ===============================
   DIVIDER WIDGET
   =============================== */

.widget.line {
    padding: 20px 0;
}

hr.line {
   background-color: darken(@color-swatch2,10%);
   height: 1px;
   width: 100%;
   border: none;
}

hr.line.align-left {
   margin: 20px auto 20px 0px;
}

hr.line.align-center {
   margin: 20px auto;
}

hr.line.align-right {
   margin: 20px 0px 20px auto;
}


/* ===============================
   CLICK TO CALL WIDGET
   =============================== */

.widget.clicktocall {
  padding: 10px 0;
}

.widget.clicktocall a {
  background-color: @color-swatch1;
  margin: 2.2em auto;
  border: none;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  color: @font-swatch5-color;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: default;
}


/* ===============================
   REDIRECT WIDGET
   =============================== */

.widget.redirecttodesktop {
    padding: 8px 0;
}

.widget.redirecttodesktop a {
    padding-right: 30px;
    padding-top: 2px;
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-decoration: none;
    cursor: pointer;
    color: @font-swatch5-color;
    font-family: @font-swatch5-font-family;

}

.widget.redirecttodesktop a:hover, .desktop a:active {
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    text-decoration: none;
}

/* ===============================
   TWITTER WIDGET
   =============================== */

.twitter div.twitter-profile-pic a,
div.twitter-profile-pic {
  line-height: 0;
}

.widget.twitter a:hover {
    text-decoration: none;
}

.widget.twitter ul {
    padding: 20px 0;
    margin: 0;
}

.widget.twitter ul li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
}

.widget.twitter ul li p {
  padding: 0;
}

.widget.twitter ul li:first-child {
    border-top: 1px solid #ebebeb;
}

.widget.twitter ul li:last-child {
    padding-bottom: 30px;
}

.widget.twitter .twitter-profile-pic {
    float: left;
    margin-right: 20px;
}

.widget.twitter .twitter-profile-pic img {
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.widget.twitter .twitter-content span.bk-full-name {
    font-family: @font-swatch4-font-family;
    color: @color-swatch3;
    font-size: @font-swatch4-font-size;
    font-weight: bold;
}

/* ===============================
   CONTACT FORM WIDGET
   =============================== */

.widget.contactform form {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: @color-swatch2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.widget.contactform fieldset {
    border: none;
    padding: 0;
}

.widget.contactform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.contactform fieldset input {
    height: 40px;
    width: 100%;
    border: 1px solid darken(@color-swatch2,6%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 0;
}

.widget.contactform fieldset textarea {
    height: 100px;
    width: 100%;
    border: 1px solid darken(@color-swatch2,6%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
    padding: 0;
}

.widget.contactform fieldset button.btn {
    padding: 12px 10px 10px;
    margin: 0;
    border: none;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    line-height: @font-swatch7-line-height;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.contactform fieldset button.btn:hover {
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}


/* ==================================================
   SINGLE EMAIL FORM, SIGN UP FORM & BLOG SEARCH FORM
   ================================================== */


 .widget.signupform, .widget.profile form, .blog-search-form {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: @color-swatch2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.widget.profile fieldset, .widget.signupform fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.profile fieldset label, .widget.signupform fieldset label, .blog-search-form label {
    width: 100%;
    float: left;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.profile form fieldset input, .widget.signupform fieldset input, .blogsearch form input {
    height: 40px;
    width: 100%;
    border: 1px solid darken(@color-swatch2,6%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    background-color: @color-swatch1;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 7px;
    float:left;
    padding: 0;
}

.widget.profile fieldset button.btn, .widget.signupform fieldset button.btn, .blogsearch form button  {
    padding: 12px 10px 10px;
    border: none;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.profile fieldset button.btn:hover, .widget.signupform fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}

/* ===============================
   LINKED IN
   =============================== */

.container-outer .li-profile-container {
  padding: 0;
  margin: 0;

}

.no-profile {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;

}


/* ===============================
   TWEET THIS WIDGET
   =============================== */

.widget.tweet {
   padding: 14px 0;
}

.widget.tweet a {
  padding: 12px 10px 10px 38px;
  margin: 0;
  border: none;
  background-image: image('/images/twitter.png');
  background-repeat: no-repeat;
  background-position: 13px 16px;
  margin: 2.2em auto;
  border: 0;
  -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  font-family: @font-swatch7-font-family;
  font-size:@font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  line-height: @font-swatch7-line-height;
  background-color: #00BDEF;
  color: @font-swatch7-color;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.tweet a:hover, .tweet a:active {
  padding: 12px 10px 10px 38px;
  background-image: image('/images/twitter.png');
  background-repeat: no-repeat;
  background-position: 13px 16px;
  cursor: pointer;
  background-color: #00aedc;
  cursor: pointer;
}

/* ===============================
   PROFILE WIDGET
   =============================== */

.widget.profile span {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  line-height: @font-swatch5-line-height;
  color: @font-swatch5-color;
}

.bk-footer .widget.profile span {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  line-height: @font-swatch5-line-height;
  color: lighten(@color-swatch5,10%);
}


/*  TWITTER IN PROFILE DATA */

.widget.profile .twitter a {
   color: @color-swatch4;
   font-size:@font-swatch5-font-size;
   text-decoration: none;
}

.widget.profile .twitter a:hover {
    text-decoration: none;
}

.widget.profile .twitter {
    padding: 0;
    margin: 0;
}

.widget.profile .twitter li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    padding: 0;
    border-bottom: none;
}

.widget.profile .twitter .twitter-profile-pic {
    float: left;
    margin-right: 20px;
    height: 120px;
}

.widget.profile .twitter .twitter-profile-pic img {
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.widget.profile .twitter .twitter-content span.bk-full-name {
    font-family: @font-swatch4-font-family;
    color: @color-swatch3;
    font-weight: bold;
}

.bk-footer .widget.profile .twitter span {
  display: inline;
}



/*  SOCIAL ICONS IN PROFILE DATA */

.widget.profile .bk-profile-socialicons span {
    display: inline;
    padding: 0;
    text-align: left;
    font-size:1em;
    font-family:@font-swatch7-font-family;
}

.widget.profile .bk-profile-socialicons a {
    text-decoration: none;
    text-indent: -9999px;
    white-space: nowrap;
    height: 30px;
    width: 30px;
}

.bk-profile-socialicons span a {
    display: inline-block;
    margin-right: 6px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.3);
    background-color: @color-swatch5;
    background-position: center;
    margin-bottom: 6px;
    background-size: 18px;
}

/* ===============================
   SOCIAL BAR WIDGET
   =============================== */

.widget {
    &.socialicons {
        span {
            a {
                width: 38px;
                height: 38px;
                background-color: @font-swatch7-background-color;
                box-shadow: inset 0 3px 3px rgba(110,110,110,0.1), 0 2px 3px rgba(110,110,110,0.2);
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                &:hover {
                    background-color: @font-swatch7-background-color-hover;
                    cursor: pointer;
                }
            }
        }
    }
}

// Profile Social Icons
footer {
    &.bk-footer {
        .widget {
            &.profile .bk-profile-socialicons {
                span {
                    a {
                        width: 30px;
                        height: 30px;
                        background-color: darken(@font-swatch7-background-color,10%);
                        -webkit-border-radius: 40px;
                        -moz-border-radius: 40px;
                        border-radius: 40px;
                        box-shadow: inset 0 3px 3px rgba(110,110,110,0.1), 0 2px 3px rgba(110,110,110,0.2);
                        text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                        &:hover {
                    background-color: @font-swatch7-background-color-hover;
                    cursor: pointer;
                }
                    }
                }
            }
        }
    }
}

/* ===============================
   eCOM
   =============================== */

.widget.ecomproductslist {
  .ecom-productslist-products {
    // Filter
    .productlist-filter {
      .productlist-display-form {
        .clearfix;
        margin-bottom: 1em;
        text-align: left;
        .form-group {
          margin-right: 0.5em;
          margin-left: 0.5em;
          display: inline-block;
          vertical-align: left;
          @media @mobile {
            display: block;
            margin-bottom: 10px;
            margin-right: 0;
            margin-left: 0;
          }
          label {
            display: block;
            font-size: bkscale(@font-swatch5-font-size, 0.8);
            text-align: left;
            @media @mobile {
              text-align: left;
            }
          }
          select {
            -moz-appearance: none;
            text-indent: 0.01px;
            -webkit-appearance: none;
            text-overflow: '';
            cursor: pointer;
            position: relative;
            background-repeat: no-repeat;
            background-position: right center;
            margin: 0;
            color: @color-swatch5;
            position: relative;
            display: inline-block;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: 21px;
            border-radius: 0;
            webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid darken(@color-swatch2, 10%);
            background-color: @color-swatch1;
            padding: 8px 38px 8px 14px;
            text-indent: 0;
            letter-spacing: 0;
            float: none;
            height: 41px;
           background-image: image('/images/ui-select-arrow.png');

            @media @mobile {
              display: block;
              width: 100%;
            }
          }
        }
      }
      .productlist-item-count {
        text-align: center;
        clear: both;
      }
    }
  }
}

.widget.ecombasket .ecombasket-pull {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.ecom-product-preview-image-wrap {
    text-align: left;
}

.btn {
    padding: 7px 14px;
    margin: 0;
    border: none;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.ecombasket-checkout-link {
    margin: 0;
    border: none;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.svg {
  .widget.ecomproductslist .ecom-productslist-products .productlist-filter .productlist-display-form .form-group select {
    background-image: image('/images/ui-select-arrow.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 93%;
    background-position-y: 55%;
  }
}

// Ecom Basket Summary

.ecombasketsummary a, .ecombasket .ecombasket-pull p {
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight: @font-swatch7-font-weight;
  &:hover {
    text-decoration: none;
  }
}

.widget.ecombasketsummary {
  table {
    background-color: @color-swatch2;
    border: 1px solid @color-swatch1;
    border-spacing: 0;
    box-shadow: 3px 3px 0px darken(@color-swatch1,7%);
    padding: 30px;
    width: 100%;
    border-bottom: none;
    list-style: none;
    font-family: "Vollkorn", Georgia, serif;
    font-size: 18px;
    color: @color-swatch4;
    margin-bottom: 30px;
    margin-top: 10px;
    @media @mobile {
      padding: 10px;
    }
    tr:first-child {
      @media @mobile {
          display: table-header-group;
          th:nth-child(2) {
            display: none;
          }
          th:nth-child(3) {
            padding-left: 12px;
          }
      }
    }
    th {
      text-align: left;
    }
    .basket-summary-items {
      background: transparent;
      @media @mobile {
        display: table-row-group;
        + tr {
          display: block;
        }
      }
      &:hover {
        background: darken(@color-swatch2, 5%);
        @media @mobile {
          background: transparent;
        }
      }
      &:last-child {
        td {
          padding-bottom: 25px;
        }
      }
      .image-wrap {
        background-image: none!important;
      }
      td:nth-child(2) {
        padding-left: 15px;
      }
      .basket-summary-pricepu {
        display: block;
      }
      .basket-summary-quantity, .basket-summary-quantitybtn {
        display: inline-block;
      }
      .basket-summary-amount {
        color: darken(@color-swatch4, 10%);
      }
    }
    .basket-summary-subtotal {
      background: darken(#f2f2f2, 5%);
      color: darken(@color-swatch4, 10%);
      display: block;
      margin-top: 25px;
      padding: 10px 10px 5px;
    }
  }
}


/* SINGLE EMAIL FORM IN FOOTER*/



.bk-footer .widget.profile fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.bk-footer .widget.profile fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.bk-footer .widget.profile fieldset input {
    height: 40px;
    width: 100%;
    border: 1px solid darken(@color-swatch2,6%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 20px;
    float:left;
    padding: 0;
}

.bk-footer .widget.profile fieldset button.btn {
    padding: 12px 10px 10px;
    border: none;
    -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    line-height: @font-swatch7-line-height;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.bk-footer .widget.profile fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


  /* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
        color: @color-swatch5;
    }
    .description {
        color: @color-swatch5;
    }
    .content-wrapper {
        background: @color-swatch1;
        text-align: center;

    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            left: 45%;
            top: 43%;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
            @media @mobile {
                width: 40px;
                height: 40px;
                &:after {
                    font-size: 15px;
                    line-height: 36px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch3;
            }
        }
    }
}


/* ===============================
   MAP WIDGET
   =============================== */

.widget.map {
  border: 1px solid #dddddd;
}




/* ===============================
  BLOG
   =============================== */

.widget {
    &.blogpostlist {
        .blog-post-item {
            border-bottom: 1px dotted @color-swatch5;
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    text-align: left;
}

.blog-post-more-link {
float: left;
width: 100%;
}

/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */


.widget {
    &.menusections {
        text-align: center;
        padding: 0;
        min-height: 30px;
        @media only screen and (max-width: 850px) {
            width:100%;
            margin: 0 auto;
            margin-top: 1.5em;
        }
        @media only screen and (max-width: 550px) {
            padding:0;
            margin-top:0;
            padding: 0 0 0;
        }
        ul {
            display: table;
            width: 100%;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                padding: 1em 0.8em;
                margin: 0;
                @media only screen and (max-width: 550px) {
                    width: 100%;
                    border-bottom: 1px solid fade(@color-swatch4,20%);                }
                }
                a {
                    display: block;
                    font-family:@font-swatch6-font-family;
                    font-size:@font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch5-color;
                    line-height:@font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @color-swatch5;
                        text-decoration: none;
                    }
                }
        }
    }
}

/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        margin-top: 0.3em;
        float: left;
        width: 100%;
        .main {
            width: 100%;
            margin: 0;
            padding: 0;
            border-top: 0;
            display: none;
            &.selected {
                display: block;
                float: left;
                @media only screen and (max-width: 850px) {
                    width: 100%;
                    margin: 0;
                    padding: 10px 0;
                }
            }

            /* ITEMS */

               .menu-items {
                    li { /* menu-item */
                        position: relative;
                        display: block;
                        padding-bottom: 2em;
                        margin-bottom: 0;
                        width: 100%;
                        &.menu-item-promoted { /* menu-item-promoted */
                                display: inline-block;
                                .inner-item {
                                    h3 {
                                         &:before {
                                            content: "\2605";
                                            color: @color-swatch3;
                                            font-size: 25px;
                                            display: inline-block;
                                            margin: 0 10px 0 0;
                                            position: relative;
                                            top: 0;
                                            left: 0;
                                        }
                                    }
                                }
                        }/* end menu-item-promoted */

                        .inner-item {
                            display: inline-block;
                            width: 100%;
                            .menu-item-image-wrap {
                                background-size:cover;
                                background-repeat: no-repeat;
                                height: 200px;
                                background-position: center;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                img {
                                    display: none;
                                }
                            }
                            .menu-section-item-dietary-props {
                                float: left;
                                width: 100%;
                                margin-top: 0px;
                                padding: 0 0 0 1px;
                               .dietary-icon {
                                    border: 1px dotted @color-swatch4;
                                    width: auto;
                                    font-family:@font-swatch5-font-family;
                                    font-size:@font-swatch5-font-size;
                                    display: inline-block;
                                    z-index: 9999999;
                                    color: @color-swatch5;
                                    float: none;
                                    margin-right: 0px;
                                    margin-bottom: 5px;
                                    padding: 0 7px;
                                }
                                .not-spicy-icon {
                                    display: none;
                                }
                            } /* end menu-section-item-dietary-props */


                            .menu-item-description, .menu-section-item-description {
                                margin-bottom: 0.5em;
                            }

                        } /* end inner-item */

                    } /* end li menu-item */

                } /* end ol */

                .menu-subsection {
                  padding: 0;
                }

                .menu-subsection .menu-subsection-promoted { /* PROMOTED SUB-SECTION */
                    border: 1px dotted fade(@color-swatch4,50%);
                    padding: 0 2em 2em;
                    margin: 2em 0 1em;
                    position: relative;
                    @media @mobile {
                        padding: 0 2em 0;
                    }
                    .menu-subsection-header {
                        margin: 20px 0;
                        padding: 2em 0 0.2em;
                        text-align: center;
                        @media @mobile {
                            padding: 0;
                        }
                    }
                } /* end PROMOTED SUB-SECTION */

                .menu-info {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    p { /* menu-note */
                      float: left;
                      width: 100%;
                      padding: 2em 0;
                      color: @color-swatch3;
                    }
                } /* end menu-info */
        } /* end main */
    } /* end .widget.menu */
} /* end .widget */



/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

  header {
    padding: 0;
    border-bottom: 0;
  }

  .bk-pt-default header {
    border-bottom: none;
  }

 .companyheader {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .widget.companyheader .companyname h1 {
    font-size:bkscale(@font-swatch2-font-size, 0.8);
  }

  /* NAV */


.widget .extendednavigation ul {
    border-top: 1px solid @color-swatch2;
    padding-top: 0;
}

.widget .extendednavigation ul.align-right li.folder {
    background-position: left center;
    &:after {
        right: inherit;
    }
}

  .widget.extendednavigation ul li {
      border-bottom: 1px solid @color-swatch2;
      padding: 0;
      &:last-child {
        border-bottom: 0;
      }
  }

  .widget.extendednavigation ul li:hover .text {
    color: @color-swatch3;
  }

  .widget.extendednavigation ul li:hover {
    border-bottom: 1px solid @color-swatch2;
  }

  .widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
      padding: 10px 0;
      margin: 0;
  }

  .widget.extendednavigation ul li > ul {
      display: none!important;
  }

  .widget.extendednavigation ul li:hover > ul {
      display: block!important;
      width: 100%;
      padding: 0 10px;
      margin: 0;
  }

  .widget.extendednavigation ul li:hover > ul > li {
    border-bottom: none;
  }

  .widget.extendednavigation ul li:hover > ul > li .text {
    color: @color-swatch5;
  }

  .widget.extendednavigation ul li:hover > ul > li:hover .text {
    color: @color-swatch3;
  }

  .widget.extendednavigation ul li.folder {
    border-radius: 0;
  }

  .widget.extendednavigation ul li:hover > ul li:first-child {
    border-top: none;
  }

  .widget.feature .feature-bgimg .content button {
      font-size: .8em;
      padding: 10px 14px;

  }


  /* OTHER */

  section.intro, section.main {
    padding: 50px 0;
  }

  section.intro {
    display: none;
  }

  /* FEATURE */


   .widget.feature .feature-bgimg {
    height: 300px; /* should be in media query*/
   }

  .widget.feature .content {
    height: 300px;
    padding: 0;
    /*padding: 3em 0;*/
  }

  .widget.feature h2 {
    font-size:bkscale(@font-swatch8-font-size, 0.84);
    line-height: bkscale(@font-swatch8-line-height,0.84);
  }

  .widget.feature h3 {
    font-size:bkscale(@font-swatch9-font-size, 0.8);
    line-height: bkscale(@font-swatch8-line-height,0.55);
  }

  .widget.feature button {
  margin: 8px 0 12px;
  padding: 10px 10px 8px;
}

  .widget.feature .feature-btn {
    max-width: 648px;
    padding: 0;
  }

   /* GALLERY */
  .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
    font-size:bkscale(@font-swatch5-font-size,0.9);
    line-height:bkscale(@font-swatch5-line-height,0.9);
  }

 .widget.gallery ul.gallery-widget li
  {
      width: 50%;
      padding-bottom: 50%;
  }

     /* Slideshow */
  .widget.responsiveslideshow .slideshow-image-list {
      height: 400px;
  }


}

@media only screen and (max-width : 650px) and (min-width : 481px) {

   /* Tablet view: 2 tiles */
   .widget.gallery li {
      width: 50%;
      padding-bottom: 50%;
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .widget.gallery li {
      width: 33.3%;
      padding-bottom: 33.3%;
   }

}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {

  /* COMPANY HEADER */
  .widget.companyname a {
    font-size:bkscale(@font-swatch1-font-size, 0.65);
  }

  .widget.companyname {
    max-width: 210px;
  }

    /* UL ALIGN RIGHT */

  .widget.extendednavigation ul.align-right li.folder {
    background-position: 12px center;
    padding-right: 0;
  }

  /* FEATURE */

  .widget.feature .feature-bgimg {
     padding-top: 20px;
     padding-bottom:20px;
   }

  .widget.feature h2 {
    font-size:bkscale(@font-swatch8-font-size, 0.6);
    padding-bottom: 4px;
    text-align: center;
    line-height: 30px;
  }

  .widget.feature h3 {
    font-size:bkscale(@font-swatch9-font-size, 0.8);
    line-height: bkscale(@font-swatch9-line-height,0.8);
    text-align: center;
  }

  .widget.feature .feature-btn {
    text-align: center;
  }

 .widget.feature button {
  padding: 10px 13px;
  font-size: bkscale(@font-swatch7-font-size,0.9);
 }



  /* BLOCKQUOTE */

blockquote {
  margin: 0;
}

  /* CLICK TO CALL */

.widget.clicktocall a {
  background-image: image('/images/ic-desktop-call-mob.png');
  background-color: @font-swatch7-background-color;
  background-position: 10px;
  background-repeat:no-repeat;
  padding: 10px 10px 10px 38px;
  margin: 2.2em auto;
  border: none;
  -webkit-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 3px 0px rgba(50, 50, 50, 0.5);
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  color: @font-swatch7-color;
  text-decoration: none;
}

.widget.clicktocall a:hover {
  background-color: @font-swatch7-background-color-hover;
  color: @font-swatch7-color;
  padding: 10px 10px 10px 38px;
  cursor: pointer;
  text-decoration: none;
  }

    /* SLIDESHOW */


  .widget.responsiveslideshow .description {
    display:none;
  }

  .widget.responsiveslideshow .slideshow-image-list {
      height: 200px;
  }



 /* GALLERY */






  /* Smartphone view: 1 tile */
  .widget.gallery li {
      width: 100%;
      padding-bottom: 100%;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}



